@import url(https://fonts.googleapis.com/css?family=Handlee);

body {
  margin: 0;
  background:#fff;  
  font-family: 'Handlee', cursive;
  font-size: 25px;
}

.container {
  display:flex;
  margin:3px;
  width: 98vw;
  height: 96vh;
  background:#fff;
  border: solid black;
  border-width: 4px 2px 3px 4px;
  border-radius: 1% 1% 1% 1%/1% 1% 1% 1%;
}

.disableClick {
  pointer-events: none;
}

/* Top Nav Bar */
.topNavBar {    
  background: gainsboro;
  border-bottom: 4px solid black;
  flex-shrink: 0;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuIcon {
  font-size: 40px !important;
  margin-left: 20px;
}

.currentTitle {
  margin-left: 40px;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

/* Modal */
.modalContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50vw;
  z-index:3;
  transform: translate(-50%, -50%);
  padding: 12px;
  background:#fff;
  border: solid black;
  border-width: 4px 2px 3px 4px;
  border-radius: 8% 1% 5% 9%/1% 4% 3% 1%;  
  transition: margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}

.mainContainerWithModal {
  filter: blur(2px) grayscale(90%);
  transform: scale(0.98);
}

.mainContainer, .modalContainer {
  transition: all 0.6s ease; /* prefix me */
}

.modalContainer > .formContainer > form > div:first-child {
  margin-top: 0;
}

/* Forms */
.formContainer {
  width: 100%;
}

.textField {
  width: 100%;
}

.textField > :not(marquee){
  font-family: 'Handlee', cursive;
  font-size: 1.2rem;
}

.textArea {
  background:#fff !important;
  border: solid black !important;
  border-width: 4px 2px 3px 4px !important;
  border-radius: 8% 1% 5% 9%/1% 4% 3% 1% !important;  
  word-break: break-all;  
  max-height: 85px;
  overflow: auto;
}

.textArea > input, .textArea > span { /* override react-multi-email css */
  font-family: 'Handlee', cursive;
  font-size: 1rem;
}

/* MAIN */
.mainContainer {
  width: 100%;
  overflow: hidden;
}

.mainContainerWithSideNavBarMobile {
  filter: blur(2px) grayscale(90%);
  transform: scale(0.98);
  pointer-events: none;
}

.insideMain {
  width: 100%;
  height: 93%;
  overflow-y: auto;
  margin-left: 10px; /* to hide scroll bar */
}

.insideInsideMain {
  display: flex;
  width:100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.projectContainer {
  margin: 20px;
  width: 150px;
  height: 150px;
  background:#fff;
  border: solid black;
  border-width: 4px 2px 3px 4px;
  border-radius: 8% 1% 5% 9%/1% 4% 3% 1%;
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  word-break: break-word;
  cursor: pointer;
}

.projectNameSpan {
  margin-left: 10px;
}

/* Left nav bar */
.sideNavContainer {
  height: 100%;
  min-width: 240px;
  background:#fff;
  border-right: 3px solid black;
  transition: transform 455ms cubic-bezier(0, 0, 0.2, 1) 0ms;  
  z-index: 2;
  overflow-y: auto;
}

.sideNavContainerMobile {
  height: 100%;
  min-width: 240px;
  background:#fff;
  border-right: 3px solid black;
  transform: translate(0px, 0px);
  transition: transform 455ms cubic-bezier(0, 0, 0.2, 1) 0ms;  
  z-index: 2;
  overflow-y: auto;
}

.backButton {
  min-height: 5%;
  text-align: right;
  padding-right:10px;
  display: none;
  cursor: pointer;
}

.profileContainer { 
  min-height: 25%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.profilePictureContainer {
  display: flex;
  flex-direction: column;
}

.profilePicture {
  width: 100px;
}

.listContainer {
  width: 90%;
  height: 60%;
  margin: 0 auto;
  border: solid black;
  border-width: 4px 2px 3px 2px;
  border-radius: 8% 1% 5% 9%/1% 4% 3% 1%;
  overflow-y: auto;
}

.logoutContainer {
  min-height: 5%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navList {
  padding-top: 20px;
  padding-bottom: 8px;
  padding-left: 10px;
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

.projectName {
  display: flex;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  padding-top: 5px;
}

.addTeamSpan {
  margin-bottom: 50px;
}

.teamTodo {
  padding-left: 15px;
  padding-top: 5px;
  font-size: 20px;
}

.teamMemberTodo {
  padding-left: 35px;
  padding-top: 5px;
  font-size: 20px;
}

.navListNode {
  cursor: pointer;
}

@media only screen 
  and (max-width: 900px){
    .sideNavContainer {
      transform: translateX(-264px);
    }

    .mainContainer {
      margin-left: -240px;
    }

    .modalContainer {
      width: 80%;
      max-height: 80%;
    }

    .projectContainer {
      width: 100px;
      height: 100px;
    }

    .projectNameSpan, .addTeamSpan {
      margin: 0;
    }

    .profileContainer {
      padding: 0;
    }

    .currentTitle {
      margin: 0;
    } 
}

@media only screen 
  and (max-height: 450px){
    .textArea {
      max-height: 33px;
    }   

    .modalContainer > .formContainer > form > div {
      margin: 0;
    }

    .modalContainer > .formContainer > form > p {
      margin-top: 10px;
      margin-bottom: 3px;
    }
}

@media only screen
  and (min-width: 900px){
    .menuIcon {
      display: none !important;
    }
}